SCTK
NIST
openSAT
.ipynb_checkpoints
__pycache__
silence_detector.pt
log
runs
save
*.csv
*.json
Untitled.ipynb
ship
RESUL*.txt
*.pkl
*.tsv
Python-WORLD
analysis
frob
junk
cmu
NeMo
pytorch-lightning
lightning_logs
