NIST
.ipynb_checkpoints
__pycache__
silence_detector.pt
log
runs
save
am_test.csv
am_train.csv
am_valid.csv
amharic_characters.json
amharic_manifest.csv
Untitled.ipynb
ship
DEBUG_split.csv
RESULT.txt
